@page
@model CoffeeCampus.Pages.Account.LoginModel
@{
    
}
<div class="cointainer border" style="padding:20px">
    <form method="post">
        <div>
            <label for="email">Email</label> <!--Oprette et tekstboks til Email og navngiver den "Email"-->
            <input type="email" id="email" name="Email" required /> <!--Dette gør tekstboksen funktionelt med type, ID og navn, hvor dette felt må ikke være tom, da den skal udfyldes-->
        </div>  
        <div>
            <label for="password">Password</label> <!--Oprette et tekstboks til Password og navngiver den "Password"-->
            <input type="password" id="password" name="Password" required /> <!--Dette gør tekstboksen funktionelt med type, ID og navn, hvor dette felt må ikke være tom, da den skal udfyldes-->
        </div>
        <button type="submit">Login</button> <!--En knap bliver lavet og er fungerende-->
    </form>

    @if (!string.IsNullOrEmpty(Model.ErrorMessage))
    {
        <p style="color:red">@Model.ErrorMessage</p> <!--Fejlbesked-->
    }
</div>